.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-80 {
  width: 80px;
  height: 80px;
}

.custom-card {
  display: grid;
  grid-template-rows: 5fr 5fr 1fr;
  /* gap: 10px; */
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  overflow: hidden;
  height: 400px;
}

.custom-card-header {
  background-color: #f8f9fa;
}

.custom-card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-card-body {
  padding: 1.25rem;
}

.custom-card-footer {
  background-color: #f8f9fa;
  padding: 0.75rem 1.25rem;
}

.icon-xl {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 1.9rem;
}

.img-icon-xl {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
